@font-face {
    font-family: Akkurat;
    src: url(fonts/Akkurat.ttf);
}

* {
    padding:0;
    margin:0;
}
body {
    padding:0;
    margin:0;
    background-color: #f7f5f1; /* F6F0E6 */
    font-family: 'Courier New', Courier, monospace;
    height:100vh;
}
h1 {
    font-size: 30px;
    line-height:35px;
    margin-bottom:20px;
}
h2, .h2-style {
    font-size: 20px;
    line-height:25px;
    font-weight:lighter;
    margin-bottom:10px;
}
.h2-border {
    padding-bottom:10px;
    border-bottom:1px solid #848484;
}
.subheading {
    margin-bottom:30px;
}
h3 {
    font-size:20px;
    padding-top:15px;
    margin-bottom:10px;
}
p {
    margin-bottom:20px;
}
/* Desktop Navigation */
.nav {
    font-family: Akkurat;
    border-top:1px solid #000000;
    bottom:0px;
    position:fixed;
    z-index:600;
    background-color: #ffffff;
    width:100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}
.nav-button {
    padding:15px;
    border-right: 1px solid #000000;
    list-style: none;
    cursor: pointer;
}
.nav-button a {
    text-decoration: none;
    color: #000000;
}
.nav-button:hover, .nav-button a:hover {
    background-color: #000000;
    color: #ffffff;
}

/* Mobile Navigation */
.logo {
    display: none;
    font-family: Akkurat;
    color: #FF5E30;
}
#mobile-menu {
    display:none;
}

/* Content */
#text-box {
    border-right:1px solid #000000;
    border-radius: 0px;
    padding:45px 45px 100px 45px;
    background-color: white;
    width:500px;
    height:100vh;
    position:fixed;
    overflow: auto;
    z-index: 300;
    font-family: Akkurat;
    font-size: 14px;
    line-height: 19px;
    box-sizing: border-box;
}
#text-box a, #mygarden a, #listofgardens a, #about a {
    color: #FF5E30;
}
#text-box a:hover {
    color: #000000;
}

/* Article */
.byline {
    font-size:20px;
    font-weight: bold;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000000;
}
.quote {
    font-size:15px;
    font-weight: bold;
    line-height: 25px;
}

/* Content > List of Gardens */
#mygarden, #listofgardens {
    border-right:1px solid #000000;
    border-radius: 0px;
    background-color: white;
    width:500px;
    height:100vh;
    position:fixed;
    overflow: auto;
    z-index: 300;
    font-family: Akkurat;
    font-size: 14px;
    line-height: 19px;
    box-sizing: border-box;
}
#mygarden .links, #listofgardens .links {
    display: flex;
    flex-direction: column;
    padding:0;
}
#mygarden div, #listofgardens div { /* This is for the heading and description */
    padding:45px 45px 20px 45px;
    border-bottom:1px solid #000000;
}
#mygarden .links a, #listofgardens .links a {
    border-bottom:1px solid #000000;
    padding:20px 45px 20px 45px;
    text-decoration: none;
    color: #000000;
}
#mygarden a:hover, #listofgardens a:hover {
    background-color: #000000;
    color: #ffffff;
}
.mine {
    padding-left:10px;
}

/* Content > About */
#about {
    border-right:1px solid #000000;
    border-radius: 0px;
    padding:45px 45px 100px 45px;
    background-color: white;
    width:500px;
    height:100vh;
    position:fixed;
    overflow: auto;
    z-index: 300;
    font-family: Akkurat;
    font-size: 14px;
    line-height: 19px;
    box-sizing: border-box;
}
#about ul {
    padding-left:15px;
}

/* Digital Garden -
This needs to exist so that buildings and grass are separate */
#digital-garden {
    height: 100vh;
    width:auto;
    overflow: scroll;
    display:flex;
    flex-direction: column;
}

/* Clouds */
.clouds pre {
    position: fixed;
    animation-name: clouds;
    animation-duration: 120s;
    z-index: 190;
    animation-iteration-count: infinite;
}
@keyframes clouds {
  0%   {margin: 20px 0 0 -800px;}
  100% {margin: 10px 0 0 100vw;}
}

/* START Grass */
.grass {
    border-top:0px solid #000000;
    bottom:0;
    border-width: 100%;
    left:0;
    height:500px;
    z-index: 101;
    width:10500px;
    word-wrap: break-word;
    background-color:#efefd2
}
.grass > p {
    overflow-y: hidden;
    word-wrap: break-word;
}

/* Welcome Sign */
.sign {
    display:block;
    padding-left: 550px;
}
.mobile-sign {
    display:none;
}
.arrow {
    font-size:36px;
    line-height:10px;
}

/* ASCII Buildings Flex */
.buildings {
    height:100vh;
    display:flex;
    flex-direction: row;
    gap:400px;
    margin-bottom:-150px;
}

/* Customizing ASCII Buildings */
.ascii-building {
    align-self: flex-end;
    z-index:200;
    font-family: 'Courier New', Courier, monospace;
    font-size:18px;
    font-weight: bold;
}
.ascii-building > pre {
    font-family: 'Courier New', Courier, monospace;
}
.ascii-building > pre a {
    text-decoration: none;
}

/* Building 1 -
This needs to exist to override the 400px gap (removes space in the "front")*/
.building1 {
    padding-left:0px;
}

/* Colors */
.color1, .color1 a {
    color:#FF5E30 !important;
}

.color2, .color2 a {
    color:#BBB809 !important;
}

.color3, .color3 a {
    color:#F3B2CA !important;
}

.color1:hover, .color2:hover, .color3:hover {
    color: #000000 !important;
}

/* Tool Tips! */
.annotations, .building-annotations {
    position: relative;
    display: flex;
}
.annotations {
    font-size:50px;
}
.annotations a, .building-annotations a {
    color:#FF5E30;
    text-decoration: none;
}

.building-annotations > span {
    display: none;
    position:absolute;
    font-family: Akkurat;
    font-size:13px;
    /*margin-top:-60px;*/
    left: 50%;
    margin-left: -60px;
    max-width:200px;
    text-align: center;
    border:1px solid #000000;
    padding:5px;
    background-color: #ffffffe7;
}

.annotations > span {
    display: none;
    position:absolute;
    font-family: Akkurat;
    font-size:13px;
    max-width:200px;
    text-align: center;
    border:1px solid #000000;
    padding:5px;
    background-color: #ffffffe7;
}

.annotations a:hover {
    color: #000000;
}

.annotations a:hover + span, .building-annotations a:hover + span{
    display: block;
    position: absolute;
    bottom: 100%;
}

/* MOBILE VERSION */
@media only screen and (max-width: 435px) {
    /* Mobile Navigation */
    .nav {
        display:none;
    }
    .logo {
        display:block;
    }
    #mobile-menu {
        display:block;
        z-index:500;
        overflow: hidden;
        position: fixed;
        width:100vw;
        background-color: #ffffff;
    }
    #mobile-menu #mobile-menu-links {
        display: none;
        top:50.5px;
        position:fixed;
        background-color: #ffffff;
        width:100%;
    }
    #mobile-menu a.menu-icon {
        display:block;
        position:absolute;
        top: 0;
        right: 0;
        border-bottom: none;
        border-left: 1px solid #000000;
    }
    #mobile-menu a {
        padding:14px 16px;
        text-decoration: none;
        font-size: 17px;
        display:block;
        font-family: Akkurat;
        color: #000000;
        border-bottom: 1px solid #000000;
    }
    .material-symbols-outlined {
        display: block;
        flex-grow: 1;
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    }

    /* Content */
    #text-box {
        display: none;
        width:100vw;
        border:none;
        height:100vh;
        padding:90px 16px 50px 16px;
        position:fixed;
        overflow: auto;
        z-index: 300;
        font-family: Akkurat;
        font-size: 14px;
        line-height: 19px;
        box-sizing: border-box;
    }

    /* Content > Article */
    #article {
        display: none;
        border:none;
        background-color: white;
    }

    /* Content > My Garden */
    #mygarden {
        display: none;
        border:none;
        width:100vw;
        height:100vh;
        overflow: auto;
    }

    /* Content > List of Gardens */
    #listofgardens {
        display: none;
        border:none;
        width:100vw;
        height:100vh;
        overflow: auto;
    }
    #mygarden div, #listofgardens div { /* This is for the heading and description */
        padding:90px 16px 20px 16px;
        border-bottom:1px solid #000000;
    }
    #mygarden .links a, #listofgardens .links a {
        border-bottom:1px solid #000000;
        padding:20px 16px 20px 16px;
        text-decoration: none;
        color: #000000;
    }
    #mygarden a:hover, #listofgardens a:hover {
        background-color: #000000;
        color: #ffffff;
    }

    /* Content > About */
    #about {
        display: none;
        border:none;
        padding:90px 16px 50px 16px;
        background-color: white;
        width:100vw;
        height:100vh;
        position:fixed;
        overflow: auto;
        z-index: 300;
        font-family: Akkurat;
        font-size: 14px;
        line-height: 19px;
        box-sizing: border-box;
    }

    /* Digital Garden */
    #digital-garden {
        height: 100vh;
        width:auto;
        overflow: scroll;
        display:flex;
        flex-direction: column;
    }

    /* Digital Gardens > Grass */
    .grass {
        border-top:0px solid #000000;
        bottom:0;
        border-width: 100%;
        left:0;
        height:300px;
        z-index: 101;
        width:5000px;
        word-wrap: break-word;
        background-color:#efefd2
    }
    .grass-about {
        border-top:0px solid #000000;
        bottom:0;
        border-width: 100%;
        left:0;
        height:300px;
        z-index: 101;
        width:100vw;
        word-wrap: break-word;
        background-color:#efefd2
    }

    /* Digital Gardens > Buildings */
    .building1 {
        padding-left:100px;
    }
    .buildings {
        display:flex;
        flex-direction: row;
        gap:100px;
        margin-bottom:-150px;
    }
    .ascii-building {
        font-size:15px;
    }

    /* Digital Gardens > Tool Tips */
    .annotations span {
        display:block;
        margin-top:-30px;
    }
    .building-annotations span {
        display:block;
    }

    /*Welcome Sign*/
    .sign {
        padding-left: 0px;
    }
    .arrow {
        font-size:30px;
        line-height:10px;
    }
}