@font-face {
    font-family: Akkurat;
    src: url(fonts/Akkurat.ttf);
}

* {
    padding:0;
    margin:0;
}
body {
    padding:0;
    margin:0;
    background-color: #F6F0E6;
    font-family: 'Courier New', Courier, monospace;
    height:100vh;
}
.logo {
    display: none;
    font-family: Akkurat;
    color: #FF5E30;
    text-align: center;
    margin-top:20px;
    position:sticky;
}
/* START Text Box*/
#text-box {
    display:block;
    border:1px solid #000000;
    border-radius: 25px;
    padding:45px;
    background-color: white;
    width:400px;
    height:300px;
    margin:20px 0 0 20px;
    position:fixed;
    overflow: auto;
    z-index: 300;
    font-family: Akkurat;
    font-size: 14px;
    line-height: 19px;
}
#text-box > p {
    margin-bottom: 20px;
}
.mobile-textbox {
    display:none;
    border:1px solid #000000;
    border-radius: 25px;
    padding:45px;
    background-color: white;
    width:400px;
    height:300px;
    margin:20px 0 0 20px;
    position:fixed;
    overflow: auto;
    z-index: 300;
    font-family: Akkurat;
    font-size: 14px;
    line-height: 19px;
}
h1 {
    font-size: 30px;
    line-height:35px;
    margin-bottom:20px;
}
h2 {
    font-size: 20px;
    line-height:25px;
    font-weight:lighter;
    margin-bottom:20px;
}
h3 {
    font-size:20px;
    padding-top:15px;
    margin-bottom:10px;
}
.quote {
    font-size:20px;
    font-weight: bold;
    line-height: 25px;
}
/* END Text Box*/

/* START Ascii */
#background {
    height: 100vh;
    width:auto;
    overflow: scroll;
    display:flex;
    flex-direction: column;
}

/* START Grass */
.grass {
    border-top:1px solid #000000;
    bottom:0;
    border-width: 100%;
    left:0;
    height:200px;
    z-index: 101;
    width:10000px;
    word-wrap: break-word;
    background-color:#efefd2
}
.grass > p {
    overflow-y: hidden;
    word-wrap: break-word;
}
/* END Grass */

/* All ASCII Buildings*/
.buildings {
    display:flex;
    flex-direction: row;
    gap:500px;
    margin-bottom:-100px;
}
.ascii-building {
    align-self: flex-end;
    z-index:200;
    font-family: 'Courier New', Courier, monospace;
    font-size:18px;
    font-weight: bold;
}
.ascii-building > pre {
    font-family: 'Courier New', Courier, monospace;
}
.ascii-building > pre a {
    text-decoration: none;
}
.ascii-building > pre a:hover {
    text-decoration: none;
    color: #000000;
}

.building-caption {
    display:none;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.building-caption img {
    display:block;
    position:absolute;
    height:200px;
    margin-left: auto;
    margin-right: auto;
}
.ascii-building:hover {
    display:block;
}

/* Building 1 */
.building1 {
    padding-left:400px;
}

.color1 a {
    color:#FF5E30 !important;
}

/* Building 2 */
.color2 a {
    color:#BBB809 !important;
}

/* Building 3 */
.color3 a {
    color:#F3B2CA !important;
}

.color1 a:hover, .color2 a:hover, .color3 a:hover {
    color: #000000 !important;
}

/*
.annotations {
    display: none;
    position:sticky;
    padding:0 0 150px 500px;
    background-color: #BBB809;
    bottom:0px;
    z-index:300;
    width:9000px;
}*/

.annotations {
    position: relative;
    font-size:40px;
    display: flex;
}
.annotations a {
    color:#FF5E30;
    text-decoration: none;
}

.annotations > span {
    display: none;
    position: absolute;
    font-family: Akkurat;
    font-size:13px;
    margin-top:-60px;
    max-width:200px;
    text-align: center;
    border:1px solid #000000;
    background-color: #ffffffc4;
    left: 50%;
}

.annotations a:hover {
    color: #000000;
}

.annotations a:hover + span{
    display: block;
    position: absolute;
    bottom: 100%;
}

/* MOBILE VERSION */
@media only screen and (max-width: 435px) {
    .logo {
        display:block;
    }
    #text-box {
        display:block;
        height:20px;
        margin-right:100px;
        width: 63vw;
    }
    .mobile-textbox {
        display:block;
        border:1px solid #000000;
        border-radius: 25px;
        padding:45px;
        background-color: white;
        width:400px;
        height:300px;
        margin:20px 0 0 20px;
        position:fixed;
        overflow: auto;
        z-index: 300;
        font-family: Akkurat;
        font-size: 14px;
        line-height: 19px;
    }
    .buildings {
        gap:100px;
    }
    .ascii-building {
        font-size:15px;
    }
    .annotations span {
        display:block;
    }
}